{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Add Condominium{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Aggiungi un condominio</h1>
          <hr class="intro-divider">
          <div class="center">
            {{ wtf.quick_form(form) }}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}