{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Lista di condomini</h1>
          <hr class="intro-divider">
          <div class="center">
          {% if condos_data %}
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Nome </th>
                </tr>
              </thead>
              <tbody>
              {% for data in condos_data %}
                <tr>
                  <td> <a href="{{url_for('admin.condominium_view', id=data.id_condo)}}"> {{ data.condo_name }} </a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
              <h6>Al momento non gestisci nessun condominio.</h6>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}