<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="container-fluid">
        <div class="row" id="header_wrapper">
            <div class="col-12" id="header_container">
                <div class="row">
                    <div class="col-2">
                        <a href="{{url_for('home.dashboard')}}">
			    <h3><span style="color: red;">Hub</span><span style="color: black;">Ministrator</span></h3>
			</a>
                    </div>
                    <div class="col-10" id="header_content_wrapper">
                        <div id="user_logged_container">
                            <div>
                              {% if current_user.is_authenticated %}        
                                <i class="fas fa-user"></i><span>Welcome, {{current_user.username}}</span>
                                <a class="user_link" href="{{url_for('auth.logout')}}">Logout</a>
                              {% else %}
                                <a class="user_link" href="{{url_for('auth.register')}}">Register</a>
                                <a class="user_link" href="{{url_for('auth.login')}}">Login</a>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2" id="left_bar_container">
                <div id="left_bar">
                    <nav class="nav navbar-light">
                        <a href="{{url_for('home.dashboard')}}" class="nav-link"><span><i class="fas fa-home"></i> Homepage</span></a>
                        <a href="{{url_for('admin.condominiums_list')}}" class="nav-link"><span><i class="fas fa-building"></i> Condomini</span></a>
                        <a href="" class="nav-link"><span><i class="fas fa-inbox"></i> Notifiche</span></a>
                        <a href="" class="nav-link"><span><i class="fas fa-calendar-alt"></i> Agenda</span></a>
                        <a href="" class="nav-link"><span><i class="fas fa-cog"></i>Impostazioni</span></a>
                        <a href="{{url_for('home.show_profile')}}" class="nav-link"><span><i class="fas fa-user"></i> Profilo</span></a>
                    </nav>
                </div>
            </div>
            <div class="col-10" id="body_container">
                <div id="body_wrapper">
                      {% block body %}
                      {% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</body>
</html>
